extends layout.pug
    
block header
    include header.pug

block content
  form(action="/new-post" method="post")
    div(class='category')
      label(for='title' class='text-dark') Title:
      input(type='text' name='title')
    div(class='category')
      label(for='content' class='text-dark') Ingredients:
      textarea(type='text' name='content')
    div(class='category')
      label(for='feedback' class='text-dark') Type:
      textarea(type='text' name='feedback')
    div(class='category')
      label(for='feedback' class='text-dark') Time:
      textarea(type='text' name='feedback')
    div(class='category')
      label(for='feedback' class='text-dark') Servings:
      textarea(type='text' name='feedback')
    div(class='category')
      label(for='feedback' class='text-dark') Calories:
      textarea(type='text' name='feedback')
    div(class='category')
      label(for='feedback' class='text-dark') Content:
      textarea(type='text' name='feedback')
    div(class='category')
      label(for='feedback' class='text-dark') Notes:
      textarea(type='text' name='feedback')
    div(class='category')
      button(type='submit' class='btn btn-dark') Submit!
    div(class='category')
      // Button trigger modal
      button.btn.btn-primary(id='modalButton' type='button', data-toggle='modal', data-target='#exampleModal', class='btn btn-dark')
        | What can I cook?
      // Modal
      #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Here's what you can cook ↓
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              | THE POSSIBILITIES ARE ENDLESS
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button', class='btn btn-dark') Save changes
      
      
