script(src='main.js' type='text/html')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
include layout.pug

each p in recipes
  include post.pug
