@font-face {
    font-family: 'PlexSansBoldItalic';
    src: url('/IBMPlexSans-BoldItalic.ttf');
}

#nav {
  color: black;
}

.form-control {
  width: 700px;
  height: 70px;
}

button.btn.btn-primary {
  border-width: 0px;
  color: black;
}

.buttondiv {
  padding-top: 10px;
}

h1#logo {
  font-size: 72px;
  text-align: center;
  font-family: PlexSansBoldItalic;
  color: #19FFD5
}

div#logodiv {
  padding-top: 30px;
  padding-bottom: 5px;
}

h3#sublogo {
  font-family: PlexSansBoldItalic;
  text-align: center;
  font-size: 30px;
}

p#submitrecipe {
  font-family: PlexSansBoldItalic;
  font-size: 30px;
}

div#sublogodiv {
  padding-bottom: 40px;
}

div#formdiv {
  padding-left: 40px;
}
