@font-face {
    font-family: 'Kollektif-Bold';
    src: url('/fonts/Kollektif-Bold.ttf');
}

@font-face {
    font-family: 'Kollektif';
    src: url('/fonts/Kollektif.ttf');
}

@font-face {
    font-family: 'Kollektif-BoldItalic';
    src: url('/fonts/Kollektif-BoldItalic.ttf');
}

.kollektif {
  font-family: Kollektif;
}

.postcontainer {
  padding: 10px;
}

.largecontainer {
  width: 100%;
  padding-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.title {
  font-family: Kollektif-Bold;
  font-size: 30px;
}

.title:hover {
  color: #17E6C0
}

.myFont {
  font-family: Kollektif-Bold;
  font-size: 20px;
}

.kbutton, #nav {
  font-family: Kollektif-Bold;
  color: white;
}

label.text-dark {
  font-family: Kollektif;
  font-size: 20px;
}

.form-control {
  width: 700px;
}

button.btn.btn-primary {
  border-width: 0px;
}

.buttondiv {
  padding-top: 10px;
}

h1#logo {
  font-size: 72px;
  text-align: center;
  font-family: Kollektif-Bold;
  color: #17E6C0
}

div#logodiv {
  padding-top: 30px;
  padding-bottom: 5px;
}

h3#sublogo {
  font-family: Kollektif-BoldItalic;
  text-align: center;
  font-size: 30px;
}

p#submitrecipe {
  font-family: Kollektif-Bold;
  font-size: 30px;
}

div#sublogodiv {
  padding-bottom: 40px;
}

div#formdiv {
  padding-left: 40px;
}
